.function-btn {
  border: 1px solid #5c64ff;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.active-btn {
  background-color: #5c64ff;
  color: #fff;
  box-shadow: 0 0 10px #5cff8d;
}
